body {
    background-color:white;
    color:black;
}

h1 {
    font-family:tahoma;
    text-align:center;
    font-weight:bold;
}

#image1 {
    display:-webkit-box;
    -webkit-box-pack:center;
    max-width:100%;
    max-height:100%;
}